<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 14px;
  font-size: 24px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
        <table>
            <tr>
               <th>Tables</th>
            </tr>
            <tr>
                <td><a href="{% url 'client_list' %}">Clients</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'department_list' %}">Departments</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'discount_card_list' %}">DiscountCards</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'position_list' %}">Positions</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'product_list' %}">Products</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'provider_list' %}">Providers</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'worker_list' %}">Workers</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'sale_list' %}">Sales</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'supply_list' %}">Supplies</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'client_list' %}">Clients</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'write_off_reason_list' %}">WriteOffReasons</a></td>
            </tr>
        </table>
    </form>
    </body>
</html>