<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 14px;
  font-size: 24px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
        <table>
            <tr>
               <th>Таблицы</th>
            </tr>
            <tr>
                <td><a href="{% url 'client_list' %}">Клиенты</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'department_list' %}">Отделы</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'discount_card_list' %}">Скидочные карты</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'position_list' %}">Должности</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'product_list' %}">Продукты</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'provider_list' %}">Поставщики</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'worker_list' %}">Работники</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'sale_list' %}">Продажи</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'supply_list' %}">Поставки</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'write_off_product_list' %}">Списанные товары</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'write_off_reason_list' %}">Причины списания</a></td>
            </tr>
        </table>
    </form>
    </body>
</html>