<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table>
            <tr>
               <th>Искать</th>
            </tr>
            <tr>
               <td>Клиент</td>
            </tr>
            <tr>
               <td>Работник</td>
            </tr>
            <tr>
               <td>Продажа</td>
            </tr>
            <tr>
               <td>Поставщик</td>
            </tr>
            <tr>
               <td>Товар</td>
            </tr>
            <tr>
               <td>Поставка</td>
            </tr>
            <tr>
               <td>Списанный товар</td>
            </tr>
        </table>
    </body>
</html>